/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Setting styles for the body */
body {
    background: linear-gradient(to left, #d42c2c, #f97e7e);
    background: linear-gradient(to right, #d42c2c, #f97e7e);
    background: linear-gradient(to bottom, #d42c2c, #f97e7e);
    background: linear-gradient(to top, #d42c2c, #f97e7e);

}

/* Styling the header with ID "ok" */
#ok {
    border: 10px solid white;
    /* background: linear-gradient(to top, #8b0909, #c87d7d); */
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

#icon {
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    /* border: 1px solid #ffffff; */
    z-index: 3;
    cursor: pointer;
    margin-top: 30px;
    /* position: fixed; */
    display: block;
}

.right-col {
    display: flex;
    justify-content: center;
    height: 100px;
}

.header-content {
    display: flex;
    justify-content: center;
}

.content-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    height: 600px;
    width: 500px;
    justify-content: center;
    /* Adjust the values for the desired shadow effect */
}

.align {
    text-align: justify;
}

@media screen and (max-width:770px) {
    .content-box {
        overflow: auto;
        font-size: 22px;
    }
}

.mai {
    display: flex;
    justify-content: center;
}

.down {
    display: flex;
    justify-content: center;
    bottom: 20px;
    position: absolute;
    font-size: 19px;
}

@media screen and (max-width:770px) {
    .down {
        font-size: 23px;
    }
}